* {
  margin: 0;
  padding: 0;
}
body {
  color: #444444;
  font-family: sans-serif;
  position: relative;
}

article {
  margin-bottom: 60px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 10px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 8px;
}
li:last-child {
  margin-bottom: 0;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* Descendent Selector 
footer p {
  font-size: 16px;
}*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  border-top: 10px solid #1098ad;
  /* padding: 20px; */
  /* padding-left: 40px;
  padding-right: 40px;  */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: auto;
}
.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  /*border: 5px solid #1098ad;*/
  /*This is a shorthand properties: border*/
  /*border-top: 5px solid #1098ad;
  border-left: 5px solid #1098ad;
  border-right: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;*/
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(2) {
  /* color: red; */
}
li:nth-child(odd) {
  /*  color: brown; */
}
a {
  text-decoration: none;
  color: #1098ad;
}

/* Styling Hyperlinks */

.navigation-link:hover {
  color: #126b7a;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}

.more-info-link:hover {
  color: #011316;
  font-size: 24px;
  text-decoration: underline;
}
.related-post-link:hover {
  color: #011316;
  font-size: 22px;
  text-decoration: underline;
}
/*
Conflict with selector
.copyright {
  color: blue;
}

#copyright {
  color: red;
}

.text {
  color: green;
}
footer p {
  color: mediumspringgreen !important;
}
*/
.post-img {
  width: 100%;
  height: auto;
}
.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}
nav a:link {
  margin-right: 30px;
  margin-top: 20px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}

.like-button {
  font-size: 22px;
  cursor: pointer;
  padding: 15px;
  position: absolute;
  /* top: 0;
  left: 0; */
  right: 50px;
  bottom: 50px;
}

/* pseudo element */
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  /* top: 0; 
  right: 0; */
  top: -10px;
  right: -25px;
  color: #444;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
